@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap");

html * {
  font-family: "Quicksand", sans-serif;
}

body {
  margin: 50px;
}

img {
  max-width: 10%;
  max-height: 10%;
  display: block;
}

a:hover {
  color: green;
}

a:visited {
  color: grey;
}

input[type="button"]:hover {
  background-color: black;
  color: white;
}
